<nav>
     <a href="{{ site.baseurl }}/">Home</a>
     <a href="{{ site.baseurl }}/about">About</a>
     <div class="dropdown">
        <button class="dropbtn">Publications 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/books-oer">Books</a>
          <a href="{{ site.baseurl }}/journals">Journals</a>
          <a href="{{ site.baseurl }}/projects">Projects</a>
        </div>
     </div> 
     <a href="{{ site.baseurl }}/news">News</a>
     <a href="{{ site.baseurl }}/contact">Contact</a>
</nav>